/* Created by Ardora http://www.webardora.net*/
body {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
background-image:url("images/none");
background-position:center;
background-repeat:repeat;
background-color:#FFFFFF;
	margin: 0; padding: 0;font-size:13px; 
	color: #626262;
	overflow-y:hidden!important;
}
#enunciadoAct{padding-right:20px;}
#contidoAct{width:80%};
form {margin: 0;padding: 0;}
h1, h1 a, h2, h2 a, h3, h3 a { margin: 0; text-decoration: none; color: #444444;}
h1 { letter-spacing: -3px; font-size: 2.6em;}
h2 { letter-spacing: -2px; font-size: 2em;}
h3 {font-size: 1em;}
p, ol, ul {margin-bottom: 0;}
a {color: #5DB3F0;}
a:hover {text-decoration: none; color:#949494; }
#header {height: 70px; background-color:#5DB3F0;
-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5); box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);
}
#logo h1, #logo p {float: left;}
#logo h1 { color:#FFFFFF; padding: 13px 0 0 10px;}
#logo p {
	color:#00001C;
	margin: 0;
	padding: 20px 0 0 4px;
	line-height: normal;
	font-weight: bold;
}
#logo a { text-decoration: none; color: #FFFFFF;}
#menuPrincipal {
	float: right;
	padding-right:5px;
}
#menuPrincipal ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menuPrincipal li {
	display: block;
	float: left;
	height: 82px;
}
#menuPrincipal a {
	display: block;
	width: 110px;
	height: 46px;
	padding: 24px 0 0 0;
	text-decoration: none;
	text-align: center;
	letter-spacing: -1px;
	font-size:1.6em;
	font-weight:bold;
	color: #276B9C;
}
#menuPrincipal a:hover {
	width: 108px;
	background: #AD200E url(images/img04.gif) repeat-x;
	border-left: 1px solid #B22502;
	border-right: 1px solid #B22502;
	color: #FFFFFF;
}
.title{width:700px; float:left;}
.post { margin-bottom: 0px; text-align:justify;}
.post .title h2 {
	padding: 0 0px 0 10px;
	font-size: 2.2em;
	color:#00001C;
}
.post .title p {
	margin: 0;
	padding: 0 0 0 30px;
	line-height: normal;
	color:#00001C;
}

.post .title p a {color:#00001C;}
.post .entry {padding: 0px 10px 0px 0px;}
.post .links {margin: 0; padding: 0 30px 0 30px;}
.post .links a { padding: 0 23px; text-decoration: none; font-weight: bold;}
.post .links a:hover {text-decoration: underline;}
#menu {float: right;width: 200px;}
#menu a{ margin-right:5px; margin-left:5px; text-decoration:none;}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu h4 a{ float:left;}
#menu li {margin-bottom: 10px;}
#menu li:hover{ background-image:none;}
#menu li ul {
	padding: 0 5px 10px 5px;
}
#menu li li{
	margin: 0;
	padding-left: 20px;
	background: url(images/img11.gif) no-repeat 5px 50%;
}
#menu li h3 {margin: 0; padding-left: 10px;}
#menu h2 {
	padding: 10px 10px 5px 10px;
	font-weight: normal;
	color: #5DB3F0;
}
#footer {
border-top-style:solid;
border-top-width:1px;
border-top-color:#5DB3F0;
	color:#FFFFFF;
	padding:0;
	height:70px;
	background: rgb(181,189,200);
background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1)));
background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); 
background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); 
}
#footer p {
	margin-bottom: 0; margin-top: 0;
	text-align: center; line-height: normal;
	font-size: .9em; color: #BABABA;
}
#suggestPost{
top:0;left:0;
position: fixed;height:25px;width:25px;}
#suggestPost a:hover{
background-image:url(images/bAvaliaSE2.png);
height:25px;width:25px;}
#suggestPost a{cursor: pointer;
background-image:url(images/bAvaliaSE.png);
display:block;height:25px;width:25px;}
object{overflow:hidden;}
