<html>
<meta charset='latin-1'>
<head>
{% load staticfiles %}
<link rel='stylesheet' href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css'>    
<link rel='stylesheet prefetch' href='http://fontawesome.io/assets/font-awesome/css/font-awesome.css'>
<link rel='stylesheet' type='text/css' href='{% static 'css/pureCssSlidingTabs.css' %}' />
<link rel='stylesheet' type='text/css' href='{% static 'css/singleSlider.css' %}' />
<link rel='stylesheet' type='text/css' href='{% static 'cssttp/pureCssToolTip.css' %}' />
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
</head>
<body id='content'>
	<div class='page-header'>
		<div class='row'>
			<div class='col-md-1'>
			</div>
			<div class='col-md-5'>
				<div style='margin-left: 30px; color:#CC33CC;'><h1>Idiosincracia del Centroamericano</h1></div>
<hr style='width: 95%; height: 1px;'><br>
			</div>
		</div>
	</div>
	<table style='width: 100%;' border='0' cellpadding='2' cellspacing='2'><tbody><TR>
	 <td style='width: 500px; height: 600px ;'>
	<div class='tabGroup'>
		<input type='radio'  name='tabGroup1' id='rad1' class='tab1' checked='checked'/>
		<input type='radio' name='tabGroup1' id='rad2' class='tab2' />
		<input type='radio' name='tabGroup1' id='rad3' class='tab3' />
		<input type='radio' name='tabGroup1' id='rad4' class='tab4' />
		<input type='radio' name='tabGroup1' id='rad5' class='tab5' />
		<input type='radio' name='tabGroup1' id='rad6' class='tab6' />
		<input type='radio' name='tabGroup1' id='rad7' class='tab7' />
		<div class='tablabels'>
			<label for='rad1' title= 'Idiosincracia  Nicaraguense' class='fa fa-asterisk'></label>
			<label for='rad2' title= 'Idiosincracia Guatemalteca' class='fa fa-beer'></label>
			<label for='rad3' title= 'Idiosincrasia Costarricense' class='fa fa-thumbs-down'></label>
			<label for='rad4' title= 'Idiosincracia  Salvadore&ntilde;a' class='fa fa-fire'></label>
			<label for='rad5' title= 'Idiosincracia del Hondure&ntilde;o' class='fa fa-trash'></label>
			<label for='rad6' title= 'Idiosincracia del Paname&ntilde;o' class='fa fa-star-half-empty'></label>
			<label for='rad7' title= 'Idiosincracia del Centroamericano' class='fa fa-globe'></label>
		</div>
		<div class='btabcontent'></div>
		<div class='tabcontent'>
			<div class='tab1'>
				<legend>Idiosincracia  Nicaraguense</legend>
				<p >El "Nica" <a href='#' class='tooltip'  style='color:#3AE2CE' >
	es alegre y le encantan las fiestas
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://rlv.zcache.com/dibujo_animado_lindo_de_la_rana_del_fiesta_escultura_fotogr%C3%A1fica-rdb7929ad5f3f4c6e9c2b442dc37bc8a5_x7sa6_8byvr_512.jpg' style='float:right; height : 150px;' />
		<strong>El nica es alegre y le encantan las fiestas</strong><br />
		El nica es amable y hospitalario, trabajador y comunicativo. Las personas en Nicaragua siempre tienen tiempo para conversar y para dedicarse tiempo mutuamente
	</span>
</a>
</p><p>

El <a href='#' class='tooltip'  style='color:#3AE2CE' >
	habla del nicarag&uuml;ense
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://4.bp.blogspot.com/-7FjXHsHWAMQ/UFE4wIOwaiI/AAAAAAAAATY/xmXABwhooPk/s1600/05.jpg' style='float:right; height : 150px;' />
		<strong>El habla del nicarag&uuml;ense</strong><br />
		El empleo frecuente de apreciativos en el habla nicarag&uuml;ense, responde en parte a ese af&aacute;n de la exageraci&oacute;n, de la hip&eacute;rbole, y a esa carga de afectividad de cada vocablo. El individuo que reh&uacute;ye el trabajo no es un simple harag&aacute;n sino un solemne g&uuml;evonazo; y el m&aacute;s grande insulto que alguien puede proferir o recibir es un hijueputazo. Lo excelente es cachimb&oacute;n y lo mediocre es balurde. Un equipo ganador no solamente derrota al contrario dej&aacute;ndolo tendido con un turcazo de cuatro esquinas, sino que le propina tremenda pijiada, mientras el vergazal de fan&aacute;ticos abandona el estadio dejando en las grader&iacute;as una tendalada de bolsas pl&aacute;sticas y latas vac&iacute;as de las cervatanas consumidas.
	</span>
</a>
 y su idiosincrasia han sido <a href='#' class='tooltip'  style='color:#3AE2CE' >
	objeto de estudio
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://1.bp.blogspot.com/_ZyKGAoOxd5M/S61x7qbnAJI/AAAAAAAABmI/EjwV2A1dSnQ/s1600/fernandez_dancers.jpg' style='float:right; height : 150px;' />
		<strong>El habla del nicarag&uuml;ense y su idiosincrasia</strong><br />
		El habla del nicarag&uuml;ense y su idiosincrasia han sido objeto de estudio de muchos intelectuales como Pablo Antonio Cuadra con su libro El Nicarag&uuml;ense, acaso la obra m&aacute;s estudiada por sic&oacute;logos y soci&oacute;logos. Aunque se pueden ofrecer diferentes miradas e interpretaciones de nuestra naturaleza como las que se han vertido sobre El G&uuml;eg&uuml;ense.
	</span>
</a>
 de muchos intelectuales, aqu&iacute; destacan <a href='#' class='tooltip'  style='color:#3AE2CE' >
	la burla
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='https://elamargado.files.wordpress.com/2008/02/burla.jpg' style='float:right; height : 150px;' />
		<strong>La agudedza de la burla Nicaraguense</strong><br />
		Para  un  mexicano, como M&eacute;xico  no hay dos. Para un costarricense  su  pa&iacute;s  es  modelo.  En cambio,  un  nicarag&uuml;ense siempre dedica su critica m&aacute;s &aacute;spera a su pueblo y a su  pa&iacute;s.
	</span>
</a>
, <a href='#' class='tooltip'  style='color:#3AE2CE' >
	la desconfianza
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://www.psicologiaamayaterron.com/wp-content/uploads/shutterstock_124024732.jpg' style='float:right; height : 150px;' />
		<strong>El nica es desconfiado</strong><br />
		Hoy d&iacute;a el nicarag&uuml;ense se ha vuelto ultra desconfiado, esto lo explican las encuestas desde hace varios a&ntilde;os; y aunque el nica no se parezca a Descartes, llevando su desconfianza al paso de la famosa duda met&oacute;dica, podr&iacute;a darle clase a cualquier fil&oacute;sofo, acerca de la capacidad de razonar sus recelos y fundamentos, de lo que a todas luces ya no lo enga&ntilde;a
	</span>
</a>
, el oportunismo, y sobra decir que el nica es <a href='#' class='tooltip'  style='color:#3AE2CE' >
	taimado
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://estaticos.muyinteresante.es/uploads/images/pyr/55520750c0ea197b3fd5137a/slide-mojigato.jpg' style='float:right; height : 150px;' />
		<strong>Taimado</strong><br />
		Que es astuto, p&iacute;caro y disimulado. Que es h&aacute;bil para enga&ntilde;ar o se comporta con astucia y disimulo para conseguir una cosa o hacer un da&ntilde;o.
	</span>
</a>
</p><p>

Podemos agregar que con respecto a la politica el nica tiene una gran <a href='#' class='tooltip'  style='color:#3AE2CE' >
	desconfianza respecto al gobierno
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://img.photobucket.com/albums/v345/artabro/tres-pilares-economia.jpg' style='float:right; height : 150px;' />
		<strong>desconfianza del gobierno en Nicaragua</strong><br />
		Aqui todo lo que tiene que ver con politica huele a chamusquina, y uno no se puede fiar ni siquiera de las elecciones..Las fronteras entre el gobierno, el partido, el poder judicial, el consejo electoral, los medios de comunicaci&oacute;n, etc. son cada d&iacute;a m&aacute;s difusas.
	</span>
</a>
; que las direcciones en nicaragua son algo particular ya que es caracteristico utilizar <a href='#' class='tooltip'  style='color:#3AE2CE' >
	puntos de referencia que ya ni existen
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='https://www.salonhogar.net/Salones/Historia/4-6/Los_mapas/orientamapa.gif' style='float:right; height : 150px;' />
		<strong>puntos de referencia en nicaragua</strong><br />
		Una buena muestra son los puntos de referencia en Managua para decir las direcciones, como por ejemplo de donde fue la Vicky, dos cuadras al lago, de lo que fue el Cine Dorado, una cuadra abajo  o  de donde fue el arbolito, media cuadra al sur. Y a nadie se le ocurre plantearse que la Vicky vendi&oacute; su restaurante, que el Cine Dorado tuvo que cerrar por la llegada de los centros comerciales o que el citado arbolito.. vete a saber si lo talaron o se convirti&oacute; en un arbolazo.
	</span>
</a>
</p>
			</div>
			<div class='tab2'>
				<legend>Idiosincracia Guatemalteca</legend>
				<p >Son <a href='#' class='tooltip'  style='color:#3AE2CE' >
	Alegres
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://img.kimensajes.com/para-los-fiesteros/64.jpg' style='float:right; height : 150px;' />
		<strong>Alegres</strong><br />
		La Alegr&iacute;a que ponemos en todo lo que realizamos, tenemos la tendencia a pachanguearcada vez que podemos y a ser fiesteros, es una caracter&iacute;stica que debemos no solo conservarsino acrecentar, el &uacute;nico punto es que debemos de festejar y pachanguear despu&eacute;s de habercumplido con nuestro trabajo u obligaci&oacute;n
	</span>
</a>
, <a href='#' class='tooltip'  style='color:#3AE2CE' >
	Serviciales
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://us.123rf.com/450wm/lenm/lenm1102/lenm110200291/8906194-ilustracion-de-un-hombre-de-ayudar-a-una-anciana-cruz-la-calle.jpg' style='float:right; height : 150px;' />
		<strong>Serviciales</strong><br />
		La gente guatemalteca es compartida, aunque muchas veces solo cuando ya vemos ala gente en serios apuros y aqu&iacute; si que aplica el dicho de que nos quitamos la camisa para d&aacute;rselaal otro, nos gusta mucho el ayudar, aunque no siempre en el momento indicado
	</span>
</a>
, <a href='#' class='tooltip'  style='color:#3AE2CE' >
	Ingeniosos
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://www.esgag.com/uploads/posts/t/l-3664.jpg' style='float:right; height : 150px;' />
		<strong>Ingeniosos</strong><br />
		Los dichos y chistes son caracter&iacute;sticos del buen guatemalteco, es nuestro ingeniopopular lo que nos ayuda a verle el lado sabroso a la vida tan dif&iacute;cil que nos ha tocado vivir
	</span>
</a>
 y <a href='#' class='tooltip'  style='color:#3AE2CE' >
	Creativos
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='https://i.ytimg.com/vi/JsGGJbwIFZY/hqdefault.jpg' style='float:right; height : 150px;' />
		<strong>Creativos</strong><br />
		Los guatemaltecos somos personas muy creativas en todos los aspectos tratamossiempre de buscar como arreglar las cosas, aunque muchas de las veces no lo hacemos de lamejor manera, por lo cual debemos de seguir aplic&aacute;ndolo. "P&aacute;same unas pinzas y un alambrito y veras que te arreglo lo que quieras".
	</span>
</a>
. Pero tambien son <a href='#' class='tooltip'  style='color:#3AE2CE' >
	Inpuntuales
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://3.bp.blogspot.com/-5DDOHffJN4I/UUkiCm5Be3I/AAAAAAAAABo/Rfda7xgx3sA/s1600/CoolClips_peop2354.jpg' style='float:right; height : 150px;' />
		<strong>Inpuntuales</strong><br />
		Los Guatemaltecos tenemos la tendencia a llegar tarde a todos los lugares.
	</span>
</a>
, <a href='#' class='tooltip'  style='color:#3AE2CE' >
	Desordenados
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://comps.canstockphoto.es/can-stock-photo_csp0443821.jpg' style='float:right; height : 150px;' />
		<strong>Desordenados</strong><br />
		Se refiere principalmente a como los guatemaltecos por lo regular somos desordenados, nunca podemos hallar las cosas en donde deber&iacute;an estar, en nuestro trabajo principalmente y tenemos que aprender a darle un lugar a cada cosa y lo mas importante dejarcada cosa en su lugar
	</span>
</a>
 e <a href='#' class='tooltip'  style='color:#3AE2CE' >
	Inconstantes
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://aegakuin.com/blog/wp-content/uploads/2011/08/441799-Royalty-Free-RF-Clip-Art-Illustration-Of-A-Cartoon-Boy-Running-Home-On-The-Last-Day-Of-School.jpg' style='float:right; height : 150px;' />
		<strong>Inconstantes</strong><br />
		Los guatemaltecos somos desesperados y buscamos resultados r&aacute;pidos
	</span>
</a>
 entre <a href='#' class='tooltip'  style='color:#3AE2CE' >
	otros
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://soberanamente.com/wp-content/uploads/2012/07/cambio.gif' style='float:right; height : 150px;' />
		<strong>Otras actitudes caracteristicas del guatemalteco</strong><br />
		Imposicion al cambio (los Guatemaltecos tenemos tendencias a buscar siempre o casi siempre un Status Quo y tenemos un temor enorme al cambio y a lo que este representa),  Falta de dispocision (Esto se refiere al ya bien conocido hecho de que los guatemaltecos dejamos todo para el ultimo momento), Irresponsable (Los cl&aacute;sicos pretextos del guatemalteco actual son mas que el reflejo de nuestra irresponsabilidad), Inculto (Se refiere al hecho de que no somos muy educados, en cuanto a la cultura general que poseemos, a que los guatemaltecos no tenemos el h&aacute;bito de leer, ni de investigar)
	</span>
</a>
</p><p>
<a href='#' class='tooltip'  style='color:#3AE2CE' >
	Nunca sabes
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://4.bp.blogspot.com/_PjcVrmskSw8/Slvnh69LsxI/AAAAAAAAAMQ/K6pBt6VcqAs/S1600-R/paraelbloh.jpg' style='float:right; height : 150px;' />
		<strong>Persona Obtusa</strong><br />
		Una persona obtusa es un persona que resiste con firmeza los cambios, los trata de evitar y los rechaza cuando se presentan.
	</span>
</a>
 si suben o si bajan, <a href='#' class='tooltip'  style='color:#3AE2CE' >
	si te estan diciendo que no, o te estan diciendo que si
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://quees.la/wp-content/uploads/2013/09/ambiguo-232x300.png' style='float:right; height : 150px;' />
		<strong>Persona Ambigua</strong><br />
		Persona ue act&uacute;a con poca decisi&oacute;n, seguridad o firmeza. No acaba de concretar lo que tiene en mente, peca de muy abstracto, ambiguo e indeciso.
	</span>
</a>
, tienen frases que otros paises no tienen como (vale, seguro, vos, etc.)</p><p>Los guatemaltecos son un poco <a href='#' class='tooltip'  style='color:#3AE2CE' >
	desesperados
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://3.bp.blogspot.com/-WeBAdNnqXBY/VjeVErk6ZVI/AAAAAAAAALs/FpSEz2KMVTU/s1600/crazy_woman.jpg' style='float:right; height : 150px;' />
		<strong>Desesperados</strong><br />
		buscan resultados r&aacute;pidos
	</span>
</a>
 y buscan resultados r&aacute;pidos, opinan de todo, tienen una <a href='#' class='tooltip'  style='color:#3AE2CE' >
	forma muy particular de hablar
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='https://s-media-cache-ak0.pinimg.com/736x/41/27/96/412796752eaeb8e130025d83c3dc1d8e.jpg' style='float:right; height : 150px;' />
		<strong>Los decires chapines</strong><br />
		de los decires chapines
el guatemalteco no toma..    chupa;
el guatemalteco no enamora..    cantinea;
el guatemalteco no festeja..    parrandea;
el guatemalteco no conversa..    platica;
el guatemalteco no critica..    pela;
el guatemalteco no abusa..    se columpia;
el guatemalteco no molesta..    friega;
el guatemalteco no presume..    chilerea; Y hay mucho m&aacute;s de donde sali&oacute; esto
	</span>
</a>
 y saludan a la gente aunque no la conozcan.</p>
			</div>
			<div class='tab3'>
				<legend>Idiosincrasia Costarricense</legend>
				<p >Es caracteristico <a href='#' class='tooltip'  style='color:#3AE2CE' >
	serruchar pisos
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='https://k60.kn3.net/taringa/B/1/E/B/C/B/NICOLASFICHER/6A7.jpg' style='float:right; height : 150px;' />
		<strong>serruchar pisos</strong><br />
		Se trata de la acci&oacute;n de hablar mal y de actuar en contra del trabajo de los dem&aacute;s para bajarle el piso, es decir, que no crezca a&uacute;n cuando tenga m&eacute;ritos
	</span>
</a>
 y el <a href='#' class='tooltip'  style='color:#3AE2CE' >
	choteo
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://www.89decibeles.com/files/portada-choteo.png' style='float:right; height : 150px;' />
		<strong>El Choteo</strong><br />
		Falta de seriedad o de organizaci&oacute;n en un asunto que los exige. Ej. "si lo organiza esa gente, la exposici&oacute;n va a ser un choteo porque son unos desorganizados"  sin&oacute;nimos:	cachondeo
	</span>
</a>
</p><p>La indiferencia, el que me importa y el <a href='#' class='tooltip'  style='color:#3AE2CE' >
	conformismo
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://img.desmotivaciones.es/201204/homer_5.jpg' style='float:right; height : 150px;' />
		<strong>conformismo</strong><br />
		En Costa Rica todo se hace chiqui-tico, solo para salir del paso, para pasar el curso con una nota m&iacute;nima de 7, para cumplir con el trabajo; se trata de la ley del minimo esfuerzo y que se asocia tambi&eacute;n con la costumbre de esperar que otros hagan el trabajo.
	</span>
</a>
.
La corrupci&oacute;n y la extendida <a href='#' class='tooltip'  style='color:#3AE2CE' >
	cultura del chorizo
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='https://psicologiaysociedad2.files.wordpress.com/2013/03/conformismo.jpg' style='float:right; height : 150px;' />
		<strong>cultura del chorizo</strong><br />
		Incumplimiento de las normas y las leyes; desde el pago sin tributar por mutuo acuerdo entre el cliente y el empresario, hasta los grandes robos en el Estado, el chorizo: como se le dice en este pa&iacute;s a las formas de corrupci&oacute;n t&iacute;picas, ha calado en la mentalidad del tico y estamos de frente incluso ante el peligro de que todo este revoltijo de podredumbre, el chorizo sea visto como algo normal.
	</span>
</a>
</p><p>La doble moral y el <a href='#' class='tooltip'  style='color:#3AE2CE' >
	berreo
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://pensarengrandelat.com/wp-content/uploads/2011/08/quejas.jpg' style='float:right; height : 150px;' />
		<strong>El berreo</strong><br />
		hay una actitud cada vez m&aacute;s frecuente: el berreo, es decir, el quejarse de todo y contra todos, pero sin intentar resolver el problema o hacer algo para que cambie la situaci&oacute;n negativa
	</span>
</a>
</p><p>Creer que lo extranjero es lo mejor</p><p>La <a href='#' class='tooltip'  style='color:#3AE2CE' >
	impuntualidad
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://100blogs.com/files/2013/09/El-Llegatardismo-la-enfermedad-de-los-impuntuales-270x270.jpg' style='float:right; height : 150px;' />
		<strong>La Impuntualidad</strong><br />
		Cuando el extranjero llega a Costa Rica se sorprende de entrada por la llamada hora tica, esa que dicta que si acordamos llegar a las 4 pm, en realidad es entre 4 pm y 5 pm.
	</span>
</a>
, la informalidad y la ausencia de compromiso.</p>
			</div>
			<div class='tab4'>
				<legend>Idiosincracia  Salvadore&ntilde;a</legend>
				<p ><a href='#' class='tooltip'  style='color:#3AE2CE' >
	Los Salvadore&ntilde;os seg&uacute;n Garc&iacute;a Marquez
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://2.bp.blogspot.com/-ktq7Nf69T9U/T_utcAHIkiI/AAAAAAAAAbk/NehjvFsKdAs/w1200-h630-p-nu/egocentrismo.jpg' style='float:right; height : 150px;' />
		<strong>Los Salvadore&ntilde;os seg&uacute;n Garc&iacute;a Marquez</strong><br />
		Los salvadore&ntilde;os est&aacute;n entre ustedes pero no son de ustedes. Los salvadore&ntilde;os beben en la misma copa la alegr&iacute;a y la amargura. Hacen m&uacute;sica de su llanto y se r&iacute;en de la m&uacute;sica. Los salvadore&ntilde;os toman en serio los chistes y hacen chistes de lo serio. No creen en nadie y creen en todo. &iexcl;No se les ocurra discutir con ellos jam&aacute;s! Los salvadore&ntilde;os nacen con sabidur&iacute;a. No necesitan leer, &iexcl;todo lo saben! No necesitan viajar, &iexcl;todo lo han visto! Los salvadore&ntilde;os son algo as&iacute; como el pueblo escogido, por ellos mismos.
	</span>
</a>
,  son el pueblo escogido por ellos mismos</p><p>Hay que cuidarse cuando estas haciendo <a href='#' class='tooltip'  style='color:#3AE2CE' >
	fila en el salvador
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://2.bp.blogspot.com/-RLV0wYzyuJM/UbqrD78aGVI/AAAAAAAAAO4/ZKBwrg7gXzg/s1600/cola.jpg' style='float:right; height : 150px;' />
		<strong>Las filas en el salvador</strong><br />
		Una de las principales habilidades desarrolladas en el pa&iacute;s, es la astucia para ganarle al vecino el puesto que legalmente le corresponde en una fila.
	</span>
</a>
, no vaya a ser pierdes tu lugar; La llamada <a href='#' class='tooltip'  style='color:#3AE2CE' >
	Hora Salvadore&ntilde;a
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='https://s-media-cache-ak0.pinimg.com/736x/35/13/4b/35134b7f7f6e49f20fd37a10cde5b0e3.jpg' style='float:right; height : 150px;' />
		<strong>La llamada Hora Salvadore&ntilde;a</strong><br />
		deambula silenciosamente dentro de las arterias de este pais, aprovechando cualquier descuido, exceso de confianza o simple olvido de nuestra parte, para arrebatarnos el tiempo que podr&iacute;amos estar dedicando a labores m&aacute;s provechosas que.. esperar
	</span>
</a>
, deambula silenciosamente dentro de las arterias de este pais; Ellos tiene una increible <a href='#' class='tooltip'  style='color:#3AE2CE' >
	Habilidad para postergar tramites
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://4.bp.blogspot.com/-RuLX4C_j2OM/TWPfbhT2oVI/AAAAAAAAAV4/88L8haYewyc/s400/posponer.gif' style='float:right; height : 150px;' />
		<strong>Habilidad para postergar tramites</strong><br />
		La cantidad de tramites postergados hasta el &uacute;ltimo d&iacute;a de su vigencia es interminable; como tambi&eacute;n el n&uacute;mero de excusas, a la hora de hacernos presentes a las instituciones p&uacute;blicas o establecimientos privados, encargados de atender esas diligencias.
	</span>
</a>
 y no hablemos m&aacute;s de <a href='#' class='tooltip'  style='color:#3AE2CE' >
	Los empleados p&uacute;blicos salvadore&ntilde;os
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://www.elblogderrhh.com/wp-content/uploads/2010/03/Funcionario-vago.jpg' style='float:right; height : 150px;' />
		<strong>Los empleados p&uacute;blicos salvadore&ntilde;os</strong><br />
		Hasta la fecha no existe mayor insulto para un empleado de gobierno, que recibir la solicitud de sus servicios de ventanilla, a la hora que a&uacute;n no ha satisfecho sus necesidades b&aacute;sicas, es decir, tomarse el sagrado caf&eacute;, acompa&ntilde;ado del desayuno que no fue posible ingerir en casa; tarea clasificada como prioritaria, dif&iacute;cil de diferir m&aacute;s all&aacute; de la hora de entrada a la oficina p&uacute;blica
	</span>
</a>
</p><p>Para finalizar, y no por ser menon importante, podemos mencionar <a href='#' class='tooltip'  style='color:#3AE2CE' >
	El trafico salvadore&ntilde;o
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQZUIL6CynCYGHQL8Lye56utDgO2PPLNaeKNUFJ_Xbqu3GTj_p3g' style='float:right; height : 150px;' />
		<strong>El trafico salvadore&ntilde;o</strong><br />
		En El Salvador contamos con un talento innato para armar congestionamientos de dimensiones colosales. En realidad, no hay l&iacute;mite predecible para que en un momento de inspiraci&oacute;n, histeria o capricho, cualquiera decida instalar a su antojo un reten, que al cabo de media hora se convierta en un verdadero infierno sobre ruedas.
	</span>
</a>
.</p>
			</div>
			<div class='tab5'>
				<legend>Idiosincracia del Hondure&ntilde;o</legend>
				<p >El hondure&ntilde;o es altamente amigable y con <a href='#' class='tooltip'  style='color:#3AE2CE' >
	calor humano
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://queanimalada.net/wp-content/uploads/2012/10/foto-bonita-tierna-%C3%B1o%C3%B1as-gato-bebe-cria-gatito-abrazo.jpg' style='float:right; height : 150px;' />
		<strong>calor humano hondure&ntilde;o</strong><br />
		r&aacute;pidamente quiere conocerle, invitarlo a tomar y comer.
	</span>
</a>
. Las mujeres son agradables, educadas y se cuidan mucho forma de vestir y cosm&eacute;ticos, pero <a href='#' class='tooltip'  style='color:#3AE2CE' >
	no hacen deporte
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://kidshealth.org/ES/images/headers/K-noGustaDeporte-esHD-AR2.jpg' style='float:right; height : 150px;' />
		<strong>Las mujeres no hacen deporte</strong><br />
		no invite a ninguna capitalina de 30 con tacones a jugar volleybol o ir al gimnasio
	</span>
</a>
</p><p> <a href='#' class='tooltip'  style='color:#3AE2CE' >
	Si un hondure&ntilde;o tiene un poquito de dinero
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://memeandote.com/media/created/ot35qt.jpg' style='float:right; height : 150px;' />
		<strong>Si un hondure&ntilde;o tiene un poquito de dinero</strong><br />
		si un hondure&ntilde;o tiene mucho dinero de cuna es un blandengue iluso desconectado de la realidad nacional, es experto en Nintendo Wii pero no sabe d&oacute;nde queda Lepaguare ni sabe lo que significa Malation
	</span>
</a>
 es un pat&aacute;n con sus compatriotas sin dinero</p><p>.

Sin embargo un buena parte de la sociedad hondure&ntilde;a, ostenta una crecida carencia de instrucci&oacute;n; Por ejemplo, Son <a href='#' class='tooltip'  style='color:#3AE2CE' >
	derrochadores de basura
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://elnacional.com.do/wp-content/uploads/2013/10/12_Actualidad_02_1p01.jpg' style='float:right; height : 150px;' />
		<strong>Derrochadores de basura</strong><br />
		Ser oriundo de este concebido suelo catracho, invoca el hecho de no tener concepci&oacute;n alguna de la existencia del recipiente denominado basurero. Se representa a modo de una usual rutina, observar, c&oacute;mo los transe&uacute;ntes de la manera m&aacute;s confortable, luego de terminar de ingerir una bebida, arrojan con displicencia al suelo el recipiente vac&iacute;o y prosiguen inalterados su enturbiado paso, lanzando a diestra y siniestra todo tipo de envoltorio que su boca engullo.
	</span>
</a>
, el h&aacute;bito de <a href='#' class='tooltip'  style='color:#3AE2CE' >
	evacuar en p&uacute;blico
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='https://4.bp.blogspot.com/-h9N8rQYt3PQ/VrdrcaK-8sI/AAAAAAAAFu4/hxTYAPPRlEU/s1600/cagar1.png' style='float:right; height : 150px;' />
		<strong>El h&aacute;bito de evacuar en p&uacute;blico</strong><br />
		este h&aacute;bito, o no se, si ser&aacute; una afecci&oacute;n mental colectiva, es la representaci&oacute;n de una visible indisposici&oacute;n gen&eacute;tica, de no poder controlar los esf&iacute;nteres. El hondure&ntilde;o com&uacute;n, con un aparente e inescrupuloso sentido de desverg&uuml;enza, realizan sus necesidades fisiol&oacute;gicas al aire libre en las congestionadas v&iacute;as p&uacute;blicas.
Hombres de todas las edades, se ubican como finos modelos de vitrina, en posiciones poco ortodoxas, de frente a los transe&uacute;ntes a evacuar con paciente descortes&iacute;a, los fluidos emanados de sus entra&ntilde;as
	</span>
</a>
;  La <a href='#' class='tooltip'  style='color:#3AE2CE' >
	no existencia del espacio humano m&iacute;nimo
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://nation.lk/online/wp-content/uploads/2015/09/ok.jpg' style='float:right; height : 150px;' />
		<strong>no existencia del espacio humano m&iacute;nimo</strong><br />
		El hondure&ntilde;o observa en su haber, la particular caracter&iacute;stica de empujar, oprimir y estrujar a la persona pr&oacute;xima o lim&iacute;trofe a su entorno, y en tanto cuando entablan di&aacute;logo disfruta el roce f&iacute;sico. ; Otro ejemplo es el hecho de intimidar con la cercan&iacute;a amenazante del parachoques del auto, ya que para un hondure&ntilde;o dos segundos de espera en un sem&aacute;foro, representan una eternidad; La dificultad de intentar salir de un elevador, ya que los oponentes que procuraran arrebatadamente ingresar a manera de tromba desbocada
	</span>
</a>
 vital.</p>
			</div>
			<div class='tab6'>
				<legend>Idiosincracia del Paname&ntilde;o</legend>
				<p >Entre las virtudes de los istme&ntilde;os est&aacute;n la calidez humana, nobleza, sencillez, cordialidad, paciencia y la alegr&iacute;a</p><p>Los principales defectos del paname&ntilde;o son su irresponsabilidad, desorganizaci&oacute;n y falta de constancia</p><p>Por un lado, est&aacute; la incultura, el af&aacute;n de no pensar y vivir el momento, satisfaciendo los sentidos o, en su defecto, a la carne. En el otro extremo se ubican los que "juegan vivo", que tratan de enfrentar a la clase due&ntilde;a de las riquezas.</p>
			</div>
			<div class='tab7'>
				<legend>Idiosincracia del Centroamericano</legend>
				<p >Podemos concluir que las principales virtudes del centroamericano promedio son la <a href='#' class='tooltip'  style='color:#3AE2CE' >
	calidez humana
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://sanatoriovisa.com/images/servicios/habitacion04.jpg' style='float:right; height : 150px;' />
		<strong>Calidez Humana</strong><br />
		Es el cari&ntilde;o, amabilidad y afecto que muestran las personas por los dem&aacute;s.
	</span>
</a>
,
la <a href='#' class='tooltip'  style='color:#3AE2CE' >
	cordialidad
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://psicoblog.com/wp-content/2014/05/adultosmayores.jpg' style='float:right; height : 150px;' />
		<strong>La Cordialidad</strong><br />
		Es caracter&iacute;stico del centroamericano, mostrarse amable, amistoso y cercano ante los suyos y ante los extranjeros
	</span>
</a>
, y la alegr&iacute;a</p><p>

Los principales defectos son la informalidad, la impuntualudad, la desorganizaci&oacute;n y la irresponsabilidad</p><p>

Y si tenemos que diferenciarlos, pues los nicas son taimados, los chapines ambiguos, los ticos guatuseros, los salvadore&ntilde;os alborotistas, los hondure&ntilde;os son cochinos y los paname&ntilde;os.. pues no se sabe.</p>
			</div>
		</div>
	</div>
	</td>
	<td style='width: 450px; text-align: left; vertical-align: top; '>
<div class='contenido'>
	<div id='slider'>		<div style ='text-align: center;'><img style = 'width: 365;' src='http://www.elsv.info/wp-content/uploads/2016/02/Mapa-de-Centroamerica.jpg'><p>mapa de centroamerica</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='http://www.puzzlesjunior.com/privados/imagen-de-mapa-de-nicarag_53bee359360bc_img.jpg'><p>mapa de nicargua</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='http://farm3.static.flickr.com/2524/3728558580_e9875dc4d1.jpg?v=0'><p>mapa de guatemala</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='http://brujula.com.gt/wp-content/uploads/2013/09/Fashgt.jpg'><p>paisajes de Guatemala</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='http://st-listas.20minutos.es/images/2009-06/116114/1342927_640px.jpg?1246389270'><p>imagenes turisticas de guatemala</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='https://redesdesolidaridad.files.wordpress.com/2010/06/sacuanjoche-y-guardabarranco.jpg'><p>imagenes turisticas de nicaragua</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='http://i0.wp.com/www.diariocolatino.com/wp-content/uploads/2014/08/rutas.jpg?resize=660%2C330'><p>imagenes turisticas de el salvador</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='http://www.goldservice.sv/assets/imgs/galerias/cascada_malacatiupan1.jpg'><p>imagenes turisticas de el salvador</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='https://angelacontaturismo.files.wordpress.com/2012/02/volcanpoascostarica01.jpg'><p>imagenes turisticas de costa rica</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='http://3.bp.blogspot.com/-7wu3IzJWXIg/TdPqvPiiRFI/AAAAAAAAACs/SvjttIvl92A/s1600/cayos+cochinos.jpg'><p>imagenes turisticas de honduras</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='http://www.guiaenpanama.com/guia-turismo-panama/turismo-ciudad-panama.jpg'><p>imagenes turisticas de panama</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='http://www.artesanum.com/upload/postal/8/0/4/munecas_empolleradas_de_panama-363180.jpg'><p>imagenes t&iacute;picas de panama</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='http://static.flickr.com/27/92215652_39ad899db8.jpg'><p>imagenes t&iacute;picas de guatemala</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='http://www.visitanicaragua.com/wp-content/uploads/2014/12/bailes-tipicos-granada.jpg'><p>imagenes tipicas de nicaragua</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='https://s-media-cache-ak0.pinimg.com/736x/d9/6a/ea/d96aea0abab0a56cf0f5b89537536722.jpg'><p>imagenes tipicas de costa rica</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='http://www.tugentelatina.com/media/images/ImageManager/4/arte_y_cultura/trajes_tipicos_de_honduras/trajes-tipicos-de-honduras-2.jpg'><p>imagenes tipicas de honduras</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='http://www.radionicaragua.com.ni/files/news/22028.jpg'><p>simbolos patrios de nicaragua</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='http://mispasitos.com.gt/sites/default/files/(152)-COSTA-RICA.jpg'><p>simbolos patrios de costa rica</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='https://akaiosake.files.wordpress.com/2012/08/simbolos-patrios.jpg'><p>simbolos patrios de el salvador</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='http://3.bp.blogspot.com/_xHMD84wb454/TILFoEOeizI/AAAAAAAAABo/ZYV8YW9sGio/s1600/ESCUDO-GUATEMALA.png'><p>simbolos patrios de guatemala</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='https://s-media-cache-ak0.pinimg.com/736x/d9/7e/22/d97e22b355724479cad43dff7e039320.jpg'><p>simbolos patrios de guatemala</p></div>
		<div style ='text-align: center;'><img style = 'width: 365;' src='http://cr04.critica.com.pa/sites/default/files/imagenes/2014/10/27/0009599956.jpg'><p>simbolos patrios de panama</p></div>
	</div>
</div>
<script type='text/javascript'>
$(function(){
    $('#slider div:gt(0)').hide();
    setInterval(function(){
        $('#slider div:first-child').fadeOut(1000)
        .next('div').fadeIn(500)
        .end().appendTo('#slider');
        }, 4000);})
</script> 
	</td>
	</TR>
	 </tbody></table>
</body>
</html>