<html>
<meta charset='latin-1'>
<head>
{% load staticfiles %}
<link rel='stylesheet' href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css'>    
<link rel='stylesheet prefetch' href='http://fontawesome.io/assets/font-awesome/css/font-awesome.css'>
<link rel='stylesheet' type='text/css' href='{% static 'css/pureCssSlidingTabs.css' %}' />
<link rel='stylesheet' type='text/css' href='{% static 'cssttp/pureCssToolTip.css' %}' />
</head>
<body>
	<div class='page-header'>
		<div class='row'>
			<div class='col-md-1'>
			</div>
			<div class='col-md-5'>
				<h1>Mapa Contextual del Reino M&oacute;nera</h1>
			</div>
		</div>
	</div>
	<div class='tabGroup'>
		<input type='radio'  name='tabGroup1' id='rad1' class='tab1' checked='checked'/>
		<input type='radio' name='tabGroup1' id='rad2' class='tab2' />
		<div class='tablabels'>
			<label for='rad1' title= 'Caracter&iacute;sticas' class='fa fa-sitemap'></label>
			<label for='rad2' title= 'Clasificacion' class='fa fa-globe'></label>
		</div>
		<div class='btabcontent'></div>
		<div class='tabcontent'>
			<div class='tab1'>
				<legend>Caracter&iacute;sticas</legend>
				<p >Este reino est&aacute; conformado por organismos <a href='#' class='tooltip'>
	procariontes
	<span>
		<img class='callout' src='{% static 'cssttp/callout.gif' %}' />
		<img src='http://celestia.albacete.org/imagenes/deriva/graficos/procario.jpg' style='float:right;' />
		<strong>organismos procariontes</strong><br />
		La palabra procarionte designa todos los organismos cuyo ADN se encuentra extendido en el citoplasma celular
	</span>
</a>
procariontes de una c&eacute;lula (unicelulares).</p>
			</div>
			<div class='tab2'>
				<legend>Clasificacion</legend>
				<p >El reino Monera abarca tres tipos de organismos: las eubacterias, las arqueobacterias y las cianobacterias, tambi&eacute;n conocidas como algas verdeazules.</p>
			</div>
		</div>
	</div>
</body>
</html>