<html>
<meta charset='latin-1'>
<head>
{% load staticfiles %}
<link rel='stylesheet' href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css'>    
<link rel='stylesheet prefetch' href='http://fontawesome.io/assets/font-awesome/css/font-awesome.css'>
<link rel='stylesheet' type='text/css' href='{% static 'css/pureCssSlidingTabs.css' %}' />
<link rel='stylesheet' type='text/css' href='{% static 'css/singleSlider.css' %}' />
<link rel='stylesheet' type='text/css' href='{% static 'cssttp/pureCssToolTip.css' %}' />
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
</head>
<body id='content'>
	<div class='page-header'>
		<div class='row'>
			<div class='col-md-1'>
			</div>
			<div class='col-md-5'>
				<div style='margin-left: 30px; color:#CC33CC;'><h1>Actividad Ardora - Los Seres Vivos y los Virus</h1></div>
<hr style='width: 95%; height: 1px;'><br>
			</div>
		</div>
	</div>
	<table style='width: 100%;' border='0' cellpadding='2' cellspacing='2'><tbody><TR>
	 <td style='width: 500px; height: 600px ;'>
	<div class='tabGroup'>
		<input type='radio'  name='tabGroup1' id='rad1' class='tab1' checked='checked'/>
		<div class='tablabels'>
			<label for='rad1' title= 'Actividad Ardora - Los Seres Vivos y los Virus' class='fa fa-no'></label>
		</div>
		<div class='btabcontent'></div>
		<div class='tabcontent'>
			<div class='tab1'>
				<legend>Actividad Ardora - Los Seres Vivos y los Virus</legend>
				<p >Evaluar el Tema : Los Seres Vivos y los Virus</p>
			</div>
		</div>
	</div>
	</td>
	<td style='width: 450px; text-align: left; vertical-align: top; '>
<div class='contenido'>
